# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually generated after running PyInstaller to build executables.
# Includes manifests and specs.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Pydantic compiled cache
.pydantic/

# dotenv environment variables
.env
.env.*
*.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# VSCode
.vscode/

# IDEs
.idea/
*.iml

# Local virtual environments
venv/
venv*/
.env/
.venv/
.venv*/

# Mac OS
.DS_Store

# Windows
Thumbs.db
